// Positioning
$z-index: (
    site-header: 1000
);

// Display
$default-border-radius: 4px;

// Colours
$colors: (
    black: #000,
    white: #fff,
    l-grey: #f6f6f6,
    grey: #9c9c9c,
    turquoise: #1ed394
);

// Fonts
$base-font-size: 16px;

$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-bold: 600;

// Components
$headerHeight: 50px;

/** Media query */
$mq-mob: 480px;
$mq-mob--lrg: 640px;

$mq-tab--sml: 768px;
$mq-tab--lrg: 820px;

$mq-desk--sml: 960px;
$mq-desk--med: 1200px;
$mq-desk--lrg: 1440px;
