*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: color(white);
}

main {
    margin-top: $headerHeight;
    padding: rem(24px) rem(16px);
}

button {
    cursor: pointer;
}
