.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;

    &:hover {
        background-color: transparentize(color(turquoise), 0.8);
    }

    &__index {
        display: none;

        @include mq($mq-mob--lrg) {
            display: block;
            flex-shrink: 0;
            width: 36px;
            padding-right: 8px;
            text-align: right;
            @include fontSize(12px);
            font-weight: bold;
        }
    }

    &__artwork {
        padding-right: 8px;

        @include mq($mq-mob--lrg) {
            padding-left: 8px;
        }
    }

    &__artwork-image {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }

    &__play-btn {
        display: none;

        @include mq($mq-mob--lrg) {
            display: block;
            background: none;
            border: none;
            color: #d7dbda;
        }

        &[disabled] {
            color: #ededed;
        }

        .track[data-is-playing="true"] & {
            color: color(turquoise);
        }
    }

    &__details {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        min-width: 0;
        padding-right: 8px;
        padding-left: 8px;
    }

    &__name,
    &__artists {
        @include text-truncate;
    }

    &__name {
        margin-right: 8px;
        font-weight: bold;
    }

    &__length {
        flex-shrink: 0;
        padding-left: 8px;
    }
}
