.playlist {
    &__header {
        display: flex;
    }

    &__header-image-wrapper {
        margin-right: 24px;
    }

    &__track-list {
        list-style: none;
        margin: 0;
        padding: 24px 0;
    }
}
