.site-header {
    position: fixed;
    @include z-index(site-header);
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $headerHeight;
    padding: rem(8px) rem(16px);
    border-bottom: 1px solid color(l-grey);

    &__actions {
        display: flex;
        align-items: center;
    }
}
